Flask==3.0.3
python-dotenv==1.0.1
firebase-admin==6.5.0
requests==2.31.0
qrcode==7.4.2
pdfkit==1.0.0
pillow
pillow-heif
cryptography>=42.0.0
lxml>=4.9.0
signxml>=3.0.0
gunicorn==22.0.0
Flask-Caching==2.4.0
weasyprint
pypdf
pyotp==2.9.0
apscheduler>=3.9.1
